{% extends 'login/base.html' %}
{% load static %}
{% block content %}
<div>
<br>

<center>
    <h1>Welcome to Your Profile</h1>
    <img style="padding-top:20px;border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;width:10%;" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/profile-design-template-4c23db68ba79c4186fbd258aa06f48b3_screen.jpg?ts=1581063859">
    </center>
    <h1 style="text-align:center;">{{ uname }}</h1>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}